body{
	color:#40514E;
	margin:0;
	text-align: center;
	font-family:Georgia, cursive;
}
/*h1,h2,h3,*/
h1{
	color:#66BFBF;
	Margin: 50px auto 0 auto;
	font-family: 'Sacramento', cursive;

	font-size:5.625rem;

}

h2{
	color:#66BFBF;
	font-family: 'Montserrat', sans-serif;
	font-size:2.5rem;
	font-weight: normal;
	padding-bottom: 10px;
}

h3{
	color:#11999E ;
	font-family: 'Montserrat', sans-serif;
}

/*div top & everything*/
.top{
	background-color:#edf7fe;
}

.cloud1{
	position: relative;
	top:10px;
	left:550px;
}

.cloud2{
	position: relative;
	right:250px;
	bottom:300px;
}
.mountain{
	position: relative;
	right:60px;
}

/*div middle & everything*/
.middle{
	margin: auto 20%;
}
.me{
	margin-top:5%;
	width: 20%;
	height: 20%;
}

.skill{
	text-align:left;
	margin: auto 20%;
   line-height: 200%;
}
.skill2{
	width: 25%;
	float:left;
	margin-right: 30px;
}

.IT{
	text-align:left;
	margin:auto 20%;
	margin-top: 3%;
	line-height: 200%;
}

.IT2{

	width:25%;
	float:right;
	margin-left: 30px;
}

.getintouch{
	margin-top: 15%;

}
/*bottom & everything*/
.bottom{
	text-decoration:none;
	background-color: #66BFBF;
	padding:20px;
}

.color{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	margin-top: 40px;
}

hr{
	border: dotted #EAF6F6 6px;
	border-bottom:none;
	width:5%;
	margin: 100px auto;
}

.link{
	text-decoration:none;
	margin: 15px;
	display: inline-block;
	color:#11999E;
	font-family: 'Montserrat', sans-serif;
	font-size:1.5rem;	
	padding-bottom: 10px;
}

.link:hover{
	text-decoration: none;
	background-color:#45e8da;
}

.contact{
	margin: 5%;
}


.btn {
  background: #3db0f7;
  background-image: -webkit-linear-gradient(top, #45e8da, #66BFBF);
  background-image: -moz-linear-gradient(top, #45e8da, #66BFBF);
  background-image: -ms-linear-gradient(top, #45e8da, #66BFBF);
  background-image: -o-linear-gradient(top, #45e8da, #66BFBF);
  background-image: linear-gradient(to bottom, #45e8da, #66BFBF);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 20%;
}

.btn:hover {
  background: #45e8da;
  background-image: -webkit-linear-gradient(top, #45e8da, #49d6ae);
  background-image: -moz-linear-gradient(top, #45e8da, #49d6ae);
  background-image: -ms-linear-gradient(top, #45e8da, #49d6ae);
  background-image: -o-linear-gradient(top, #45e8da, #49d6ae);
  background-image: linear-gradient(to bottom, #45e8da, #49d6ae);
  text-decoration: none;
}
